@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: Helvetica;
    src: url('./Helvetica-Font/Helvetica.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}
table tr:nth-child(odd) td {
    background-color: rgb(241, 241, 241);
}

table, td, th {
    border: 1px solid rgb(221, 221, 221);
}

tr:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body {
    margin: 0px;
}

.button {
    padding: 5px 10px;
    border-radius: 10px;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

.button:hover {
    outline: none;
}

ul {
    list-style-type: square;
}

ul>ul {
    list-style-type: disc;
}

ul>ul>ul {
    list-style-type: circle;
}

body>p>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 18px;
    border-radius: 10px;
    width: 150px;
    display: block;
    text-align: center;
}

body {
    margin: 50px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.3) 0%, rgba(9, 9, 121, 0.3) 35%, rgba(0, 212, 255, 0.3) 100%), url('./picture.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.check::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
}

.star::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
}

.mail::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0e0";
}

.twitter::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f099";
}

.linkedin::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f08c";
}

<input type="text" placeholder="&#xf007;">
<input type="password" placeholder="&#xf084;">

input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.icons {
    margin-left: 30px;
    margin-bottom: 10px;
}

blockquote::before {
    display: block;
    width: 3px;
    height: 140px;
    background: rgb(204, 204, 204);
    content: '';
    position: absolute;
    left: 30px;
}

.navigation-inline-block-header-title,
.navigation-inline-block-header-nav {
    display: inline-block;
    vertical-align: middle;
}

.site-title {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

div img {
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    position: relative;
    /* left: -50%; */
}

div i {
    position: relative;
    top: -16px;
    left: -34px;
}


div.picture1 {
    background-image: linear-gradient(to right, #185b9d, #007ab3, #0098b9, #00b3b1, #42cba1);
}

.card {
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.75);
    max-width: 400px;
    margin: 300px auto;
    border-radius: 4px;
}

.certificates-content::before {
    content: '';
    background: url('./images/dots.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 130px;
    display: inline-block;
    position: absolute;
    margin-left: -70px;
    margin-top: 140px;
}

.certificates-image:nth-child(2)::after {
    content: '';
    background: url('./images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 300px;
    display: inline-block;
    position: absolute;
    margin-left: -205px;
}

.certificates-content, .certificates-images {
    display: inline-block;
    vertical-align: top;
}

header::after {
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 2px;
    content: '';
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('./Requirements-and-Resources/image/computer-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 90px;
    background-position-x: 50%;
    background-position-y: 51%;
    text-shadow: -1px 3px 7px rgba(0, 0, 0, 0.69);

}

img:object-fit:cover

/* X-Large devices (large desktops, less than 1400px) */

@media all and (max-width: 1399.98px) {
 footer {
        flex-wrap: wrap;
    }
}

/* Large devices (desktops, less than 1200px) */

@media all and (max-width:1199.98px) {
    .career-center {
        flex-direction: column;
    }
    .career-center-image {
        order: 1;
    }
}

/* Medium devices (tablets, less than 992px) */

@media all and (max-width: 991.98px) {
    .career-center-image {
        padding-top: 35px;
    }
}

/* Small devices (landscape phones, less than 768px) */

@media all and (max-width:767.98px) {}

/* X-Small devices (portrait phones, less than 576px) */

@media all and (max-width:575.98px) {
    .career-center-image {
        display: none;
    }
    .career-center-content {
        text-align: center;
    }
    .career-center-content-title, .career-center-content p {
        text-align: left;
    }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
html {
    font-family: 'Gelasio', serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* ---------------------------- Header -------------------------------- */

header {
    background-color: #E6E3DE;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    color: #5F4B4D;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0px 10px;
}

header button {
    background-color: #5F4B4D;
    color: white;
    border: none;
    padding: 7px 12px;
}

.btn::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: '\f002';
    margin: 0px 20px 0px 20px;
}

/* ------------------------- First Section ---------------------------- */

.first {
    background: url(./Media/craving.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 175px 0;
    background-size: cover;
}

input[type="text"]::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.first h1 {
    color: white;
    font-size: 30px;
}

.first input {
    flex-basis: 33px;
    width: 21vw;
    opacity: 0.7;
}

/* ------------------------- Second Section ---------------------------- */

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./Media/background.jpg);
    background-size: cover;
}

article {
    display: flex;
}

.big-article {
    width: 80em;
    height: 35em;
    margin: 50px 0 0 0;
}

.small-article {
    width: 15em;
    height: 18em;
    flex-direction: column;
}

.big-article .div-image {
    width: 70%;
    height: 100%;
}

.small-article .div-image {
    width: 100%;
    height: 80%;
}

article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E6E3DE;
}

.div-text h3 {
    font-size: 27px;
}

.div-text p {
    font-size: 22px;
}

.div-text .btn-view {
    width: 20%;
    background-color: #554938;
    border: none;
    color: white;
    padding: 5px 7px;
    font-size: 10px;
}

.small-articles {
    display: flex;
    justify-content: space-between;
    width: 78%;
}

.small-article .div-text {
    font-style: italic;
    opacity: 0.7;
}

.second h2 {
    background: #DBDCDA;
    padding: 8px 15px;
    opacity: 0.7;
}

.bnt-shop {
    background: #DA4D34;
    border: none;
    margin: 3% auto 2% auto;
    padding: 3px 30px;
    color: white;
    font-size: 10px;
}

/* ---------------------------- Footer -------------------------------- */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #E0DFDB;
    opacity: 0.9;
    width: 100%;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin: 5px 5px;
}

footer ul li::after {
    content: '';
    width: 1px;
    height: 13px;
    background-color: black;
    display: block;
    position: relative;
    top: -17px;
    left: -5px;
}

footer ul li:first-child::after {
    display: none;
}